.pokemon{
  width: 50%;
  margin: 0 auto 20px;

  div {
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 25%;
    position: relative;

    .abilities{
      text-align: center;
      font-weight: bold;
      font-size: 15px;
    }

    img{
      width: 80%;
      display: block;
      margin: 0 auto 10px;
    }
    p{
      text-align: center;
      font-weight: bold;
      font-size: 25px;
    }
  }
}
